<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h1>Adopta un Amigo para Toda la Vida</h1>

    <br>

    <!--Direccionamiento-->

    <a href="../index.html">Regresar al inicio</a>

    <h2>Animales en Adopción</h2>
<img src="https://th.bing.com/th/id/OIP.Y7ELIRtRXjenbVaFVZFA9wHaE7?rs=1&pid=ImgDetMain" alt="Perro buscando hogar" width="300" height="200">
<img src="https://th.bing.com/th/id/OIP.QiJo7wpcJ65siGsKObRiLwHaE8?rs=1&pid=ImgDetMain" alt="Gato esperando ser adoptado" width="300" height="200">


<p>Mira nuestro video sobre la importancia de adoptar mascotas:</p>
<a href="https://youtu.be/0yUONIk8aVY?si=ldGdSKzeZi5u4o54" target="_blank">Ver Video sobre Adopción de Mascotas</a>
<p>Mira nuestro video sobre la importancia de adoptar mascotas:</p>
<a href="https://youtu.be/bivFhQ7PVyw?si=ZnQcTAu7luW5YNoS" target="_blank">Ver Video sobre Adopción de Mascotas</a>


</body>
</html>