<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Textos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Dar un hogar a gatos y perros siempre trae alegría y compañía</h1>

    <style>
        /* Estilos para el cuerpo de la página */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        /* Asegurar que el video quede al final */
        video {
            margin-top: auto;
        }
    </style>

    <br />

    <!--Direccionamiento-->

    <a href="../">Regresar al inicio</a>

    <p>
        Adoptar un gato o un perro no solo les ofrece una segunda oportunidad, sino que también llena tu hogar de amor y alegría.
        Las mascotas adoptadas tienen un cariño especial que muestran a quienes les brindan una nueva vida. Al adoptar, no solo estás haciendo una buena acción,
        sino también ganando un amigo fiel que te acompañará en los momentos buenos y difíciles. Da el paso y descubre la gratitud incondicional que una mascota
        adoptada puede traer a tu vida
    </p>



    <!--Enlace del video-->

    <a href="https://youtu.be/Jv1iolzbvZg?si=lvPS4ZcBbVrvcyFg" target="_blank">Mira este video sobre la adopción de mascotas</a>

</body>
</html>